header{
    background-color: rgb(190, 190, 190);
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    font-size: 30px;
    border-bottom: solid 2px black;
    padding: 2px;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(https://img.freepik.com/fotos-premium/fundo-vermelho-abstrato-para-modelos-de-web-design-e-estudio-de-produtos-com-cor-de-gradiente-suave_570543-5820.jpg?semt=ais_hybrid&w=740);
    background-size: cover;
    color: white;
}