header{
    background-color: rgb(190, 190, 190);
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    font-size: 30px;
    border-bottom: solid 2px black;
    padding: 2px;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwV6K_fIoZC2fM7otc0rMCCyFpzuHj5s6YVg&s);
    background-size: cover;
}